PORT=3000

# Google Calendar Configuration
CALENDAR_ID_SALA_1=sala1_id@group.calendar.google.com
CALENDAR_ID_SALA_2=sala2_id@group.calendar.google.com
CALENDAR_ID_SALA_3=sala3_id@group.calendar.google.com
CALENDAR_ID_SALA_4=sala4_id@group.calendar.google.com

# Ruta al archivo JSON de credenciales de Google Service Account
GOOGLE_APPLICATION_CREDENTIALS=./service-account-credentials.json

# O pasarlo como string JSON en plataformas como Easypanel/Docker/Railway:
# GOOGLE_CREDS_JSON={"type":"service_account", ...}
